<launch>
    <arg name="splash_image" default="$(find-pkg-share rc110_rviz)/images/splash.png"/>
    <arg name="config" default="$(find-pkg-share rc110_rviz)/rviz/main.rviz"/>

    <node pkg="rviz2" exec="rviz2" name="rviz" args="-s $(var splash_image) -d $(var config)"/>

    <!-- The following mappings are convenient for manipulating multiple robots. -->
    <node pkg="rc110_topic_tools" exec="multi_demux" name="output_demux_rviz">
        <remap from="~/output_ns" to="rviz_rc"/>
        <param name="topics" value="initialpose move_base_simple/goal goal_queue/goal clicked_point" value-sep=" "/>
    </node>
</launch>
