<launch>
    <arg name="urdf_file" default="$(find rc110)/urdf/robot.xacro"/>
    <arg name="splash_image" default="$(find rc110_rviz)/images/splash.png"/>
    <arg name="config" default="$(find rc110_rviz)/rviz/main.rviz"/>

    <!-- RViz can be run on a remote PC, so it needs to have robot_description parameter. -->
    <param name="robot_description" command="xacro $(arg urdf_file)"/>

    <!-- The following mappings are convenient for manipulating multiple robots. -->
    <node pkg="multirelay" type="multirelay" name="output_relay_rviz" output="screen">
        <param name="output_ns_param" value="/selected_rc"/>
        <rosparam param="topics">
          - initialpose
          - move_base_simple/goal
          - clicked_point
        </rosparam>
    </node>

    <arg name="rviz_args" value="-d $(arg config) -s $(arg splash_image)"/>
    <node pkg="rviz" type="rviz" name="rviz" output="screen" required="true" args="$(arg rviz_args)"/>
</launch>
