<launch>
    <group>
        <arg name="splash_image" default="$(find-pkg-share rc110_rviz)/images/splash.png"/>
        <arg name="config" default="$(find-pkg-share rc110_rviz)/rviz/main.rviz"/>
        <arg name="rc" default="$(command rc110_selector)"/>
        <arg name="rc_host" default="$(eval '\'$(var rc)\'.replace(\'_\', \'-\')')"/>

        <push_ros_namespace namespace="/$(var rc)"/>

        <node pkg="rviz2" exec="rviz2" name="rviz" args="-s $(var splash_image) -d $(var config)">
            <param name="rc" value="$(var rc)"/>
            <param name="video_url" value="rtsp://$(var rc_host).local:8554/front"/>
            <param name="pipeline" value="rtspsrc latency=0 location=%1 ! rtph265depay ! h265parse ! queue ! nvv4l2decoder ! nvvidconv ! video/x-raw,format=YUY2 ! xvimagesink name=qtvideosink sync=false"/>
        </node>
    </group>
</launch>
