<launch>
    <group>
        <arg name="splash_image" default="$(find-pkg-share rc110_rviz)/images/splash.png"/>
        <arg name="config" default="$(find-pkg-share rc110_rviz)/rviz/main.rviz"/>
        <arg name="rc" default="$(command rc110_selector)"/>
        <arg name="rc_host" default="$(eval '\'$(var rc)\'.replace(\'_\', \'-\')')"/>
        <arg name="camera_param_path" default="$(find-pkg-share rc110_rviz)/config/front_camera.yaml"/>
        <push_ros_namespace namespace="/$(var rc)"/>

        <node pkg="usb_cam" exec="usb_cam_node_exe" name="front_camera">
            <remap from="image_raw" to="~/image_raw"/>
            <param from="$(var camera_param_path)" allow_substs="true"/>
            <param name="pixel_format" value="uyvy"/>
        </node>

        <node pkg="rviz2" exec="rviz2" name="rviz" args="-s $(var splash_image) -d $(var config)">
            <param name="rc" value="$(var rc)"/>
        </node>
    </group>
</launch>
