<launch>
    <arg name="common_config_dir" default="$(find rc110_common)/config"/>
    <arg name="urdf_file" default="$(find rc110_common)/urdf/robot.xml"/>
    <arg name="config_dir" default="$(find rc110_launch)/config"/>
    <arg name="use_front_camera" default="true"/>
    <arg name="use_rear_camera" default="false"/>
    <arg name="joy_type" default="elecom"/>

    <include file="$(find rc110_common)/launch/common.launch">
        <arg name="config_dir" value="$(arg common_config_dir)"/>
        <arg name="urdf_file" value="$(arg urdf_file)"/>
        <arg name="joy_type" value="$(arg joy_type)"/>
    </include>

    <include file="$(find rc110_launch)/launch/sensors.launch">
        <arg name="config_dir" value="$(arg config_dir)"/>
        <arg name="use_front_camera" value="$(arg use_front_camera)"/>
        <arg name="use_rear_camera" value="$(arg use_rear_camera)"/>
    </include>

    <node pkg="rc110_drive_control" type="rc110_drive_control" name="drive_control" respawn="true" output="screen">
        <rosparam file="$(arg config_dir)/drive_control.yaml" subst_value="true"/>
    </node>
</launch>
