[Unit]
Description=Robocar 1/10 ROS2 nodes
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/ros/@ROS_DISTRO@/systemd/rc110.sh

[Install]
WantedBy=default.target
