<launch>
    <arg name="rc" default=""/>

    <node pkg="mouse_teleop" exec="mouse_teleop" namespace="/$(var rc)" name="mouse_teleop" output="screen">
        <param name="frequency" value="10.0"/> <!--does not work-->
    </node>

    <node pkg="rc110_twist_to_ackermann" exec="rc110_twist_to_ackermann" namespace="/$(var rc)" name="twist_to_ackermann_mouse">
        <remap from="cmd_vel" to="mouse_vel" />
        <remap from="drive_ad" to="drive_manual" />
    </node>
</launch>
