<launch>
    <group>
        <arg name="rc" default="$(command 'sh -c \'echo -n `hostname | tr - _`\'')"/>
        <arg name="config_dir" default="$(find-pkg-share rc110)/config"/>
        <arg name="urdf_file" default="$(find-pkg-share rc110)/urdf/robot.xacro"/>
        <arg name="system_config_dir" default="$(find-pkg-share rc110_system)/config"/>
        <arg name="use_front_camera" default="true"/>
        <arg name="use_rear_camera" default="false"/>
        <arg name="joy_type" default=""/>

        <push_ros_namespace namespace="/$(var rc)"/>

        <include file="$(find-pkg-share rc110)/launch/common.launch"/>

        <include file="$(find-pkg-share rc110_system)/launch/sensors.launch"/>

        <node pkg="rc110_drive_control" exec="rc110_drive_control" name="drive_control" respawn="true" output="screen">
            <param from="$(var system_config_dir)/drive_control.yaml" allow_substs="true"/>
        </node>

        <include file="$(find-pkg-share rc110_teleop)/launch/teleop.launch"/>
    </group>
</launch>
