<launch>
    <arg name="config_dir" default="$(find rc110_system)/config"/>
    <arg name="use_front_camera" default="true"/>
    <arg name="use_rear_camera" default="false"/>

    <group if="$(arg use_front_camera)">
        <node pkg="video_stream_opencv" type="video_stream" name="front_camera">
            <remap from="image_raw" to="front_camera/image_raw" />
            <rosparam file="$(arg config_dir)/sensors/front_camera.yaml" subst_value="true"/>
        </node>
        <node pkg="image_proc" type="image_proc" ns="front_camera" name="image_proc"/>
    </group>

    <group if="$(arg use_rear_camera)">
        <node pkg="video_stream_opencv" type="video_stream" name="rear_camera">
            <remap from="image_raw" to="rear_camera/image_raw" />
            <rosparam file="$(arg config_dir)/sensors/rear_camera.yaml" subst_value="true"/>
        </node>
        <node pkg="image_proc" type="image_proc" ns="rear_camera" name="image_proc"/>
    </group>

    <include file="$(find rc110_video_server)/launch/main.launch">
        <arg name="r" value="fhd"/>
        <arg name="device" value="/dev/video_front"/>
    </include>

    <node pkg="urg_node" type="urg_node" name="front_lidar">
        <rosparam file="$(arg config_dir)/sensors/front_lidar.yaml" subst_value="true"/>
        <remap from="scan" to="~scan"/>
    </node>

    <node pkg="urg_node" type="urg_node" name="rear_lidar">
        <rosparam file="$(arg config_dir)/sensors/rear_lidar.yaml" subst_value="true"/>
        <remap from="scan" to="~scan"/>
    </node>

    <!-- Filling orientation based on velocity and acceleration -->
    <node pkg="imu_complementary_filter" type="complementary_filter_node" name="imu_complementary_filter" output="screen">
        <rosparam file="$(arg config_dir)/sensors/imu_complementary_filter.yaml" subst_value="true"/>
    </node>
</launch>
