<launch>
    <arg name="config_dir" default="$(find rc110)/config"/>
    <arg name="urdf_file" default="$(find rc110)/urdf/robot.xacro"/>
    <arg name="tf_prefix" default="$(env RC110_NAME)"/>

    <param name="robot_description" command="xacro $(arg urdf_file) prefix:=$(arg tf_prefix)/"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="tf_publisher"/>

    <!-- Switching between joystick and AD.
      By default drive_manual topic is mapped to drive.
      To switch run: rosservice call mux_drive/select drive_ad
      Or use joystick or rviz.
    -->
    <node pkg="topic_tools" type="mux" name="mux_drive" args="drive drive_manual drive_ad mux:=mux_drive"/>

    <!-- Getting /points2 topic from front and rear lidar scans. -->
    <include file="$(find rc110_laserscans_to_pointcloud)/launch/main.launch"/>
</launch>
