<launch>
    <arg name="config_dir" default="$(find-pkg-share rc110)/config"/>
    <arg name="urdf_file" default="$(find-pkg-share rc110)/urdf/robot.xacro"/>
    <arg name="tf_prefix" default="$(var rc)"/>

    <node pkg="robot_state_publisher" exec="robot_state_publisher" name="tf_publisher">
        <param name="robot_description" value="$(command 'sh -c \'xacro $(var urdf_file) prefix:=$(var tf_prefix)/\'')"/>
    </node>

    <!-- Switching between joystick and AD.
      By default drive_manual topic is mapped to drive.
      To switch run use joystick or rviz.
    -->
    <node pkg="rc110_topic_tools" exec="mux" name="mux_drive" args="drive drive_manual drive_ad"/>

    <!-- Getting /points2 topic from front and rear lidar scans. -->
    <include file="$(find-pkg-share rc110_laserscans_to_pointcloud)/launch/main.launch"/>

    <!-- static transforms from map to odom, since there's no localization by default -->
    <node pkg="tf2_ros" exec="static_transform_publisher" name="tf_map_to_odom"
          args="--frame-id map --child-frame-id $(var tf_prefix)/odom"
    />
</launch>
