<launch>
    <arg name="rc_prefix" default="$(optenv RC110_PREFIX)"/>
    <arg name="ignore_one" default="/$(env RC110_NAME)/*"/>
    <arg name="ignore_two" default="$(arg ignore_one), /$(arg rc_prefix)*"/>
    <arg name="ignore_nodes" default="$(eval arg('ignore_one') if arg('rc_prefix') == '' else arg('ignore_two'))"/>

    <!-- Roscore should be run from this launch file along with multimaster nodes. -->
    <node pkg="master_discovery_fkie" type="zeroconf" ns="/" name="master_discovery" output="screen" required="true"/>

    <node pkg="master_sync_fkie" type="master_sync" ns="/" name="master_sync" required="true">
        <param name="sync_remote_nodes" value="true" />
        <param name="ignore_nodes" value="[$(arg ignore_nodes)]" type="yaml"/>
    </node>
    <!--
        Both nodes are ignored by synchronization automatically, if namespace is empty.
        Ignoring ROS_NAMESPACE, which is robot name, prevents backward synchronization of own nodes.

        More details: http://wiki.ros.org/master_sync_fkie
    -->
</launch>