<launch>
    <arg name="rc_prefix" default="$(env RC110_PREFIX)"/>
    <arg name="rc_host_prefix" default="$(env RC110_HOST_PREFIX)"/>
    <arg name="is_robot" default="$(eval env('RC110_HOST_ID').startswith(rc_prefix))"/>

    <arg name="ignore_one" default="/$(env RC110_HOST_ID)/*"/>
    <arg name="ignore_two" default="/$(arg rc_prefix)*, $(arg ignore_one)"/>
    <arg name="ignore_nodes" default="$(eval ignore_two if is_robot else ignore_one)"/>
    <arg name="ignore_hosts" default="$(eval rc_host_prefix + '*' if is_robot else '')"/>
    <arg name="ignore_topics" default="$(eval '/tf*, /diagnostics' if is_robot else '')"/>

    <arg name="sync_nodes" default="$(eval '' if is_robot else '/' + rc_prefix + '*')"/>
    <arg name="sync_hosts" default="$(eval '' if is_robot else rc_host_prefix + '*')"/>

    <!-- Roscore should be run from this launch file along with multimaster nodes. -->
    <arg name="discovery_pkg" value="$(eval 'master_discovery_fkie' if env('ROS_DISTRO') == 'melodic' else 'rc110')"/>
    <node pkg="$(arg discovery_pkg)" type="zeroconf" ns="/" name="master_discovery" output="screen" required="true"/>

    <arg name="sync_pkg" value="$(eval 'master_sync_fkie' if env('ROS_DISTRO') == 'melodic' else 'fkie_master_sync')"/>
    <node pkg="$(arg sync_pkg)" type="master_sync" ns="/" name="master_sync" required="true">
        <param name="sync_remote_nodes" value="true"/>
        <param name="ignore_nodes" value="[$(arg ignore_nodes)]" type="yaml"/>
        <param name="ignore_hosts" value="[$(arg ignore_hosts)]" type="yaml"/>
        <param name="ignore_topics" value="[$(arg ignore_topics)]" type="yaml"/>
        <param name="sync_nodes" value="[$(arg sync_nodes)]" type="yaml"/>
        <param name="sync_hosts" value="[$(arg sync_hosts)]" type="yaml"/>
    </node>
    <!--
        Both nodes are ignored by synchronization automatically, if namespace is empty.
        Ignoring ROS_NAMESPACE, which is robot name, prevents backward synchronization of own nodes.

        More details: http://wiki.ros.org/master_sync_fkie
    -->
</launch>