local_costmap:
    footprint: [[-0.08, -0.09], [0.34, -0.09], [0.34, 0.09], [-0.08, 0.09]]
    update_frequency: 1
    publish_frequency: 1
    global_frame: map
    robot_base_frame: base_link
    width: 8.0
    height: 8.0
    resolution: 0.05
    rolling_window: true

    plugins:
        - {name: obstacle, type: "costmap_2d::ObstacleLayer"}

    obstacle:
        observation_sources: scan
        scan: {sensor_frame: front_lidar, data_type: LaserScan, topic: /front_lidar/scan, marking: true, clearing: true}
