[Unit]
Description=Robocar 1/10 ROS nodes
After=rc110-roscore.service
BindsTo=rc110-roscore.service

[Service]
Type=simple
EnvironmentFile=/etc/zmp/ros.env
ExecStart=/usr/lib/systemd/user/rc110.sh

[Install]
WantedBy=default.target
