[Unit]
Description=ROS Core

[Service]
Type=simple
EnvironmentFile=/etc/zmp/ros.env
ExecStart=/usr/lib/systemd/user/rc110-ros.sh

[Install]
WantedBy=default.target
