<?xml version="1.0"?>
<launch>
    <arg name="joy_type" default="elecom"/>
    <arg name="use_gui" default="true"/>
    <arg name="world" default="/home/zmp/aws-robomaker-small-house-world/worlds/small_house.world"/>
<!-- add comand -->
    <arg name="root" default="$(find rc110_gazebo)"/>
    <arg name="world" default="worlds/maze.world"/>

    <env name="GAZEBO_RESOURCE_PATH" value="$(arg root)"/>
    <env name="GAZEBO_MODEL_PATH" value="$(arg root)/models"/>
<!--add end -->

    <include file="$(find rc110_common)/launch/common.launch">
        <arg name="config_dir" value="$(find rc110_common)/config"/>
        <arg name="urdf_file" value="$(find rc110_common)/urdf/robot.xml"/>
        <arg name="joy_type" value="$(arg joy_type)"/>
    </include>

    <!-- launch gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)" />
        <arg name="gui" value="$(arg use_gui)" />
        <arg name="verbose" value="true" />
    </include>

    <!-- instantiate robot model in the world -->
    <node name="robot_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find rc110_common)/models/rc110/model.sdf -sdf -model robocar110
            -x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0" />

    <!-- simulation of rc110_drive_control (more or less) -->
    <node pkg="rc110_gazebo" type="rc110_gazebo" name="rc110_gazebo" required="true" />
</launch>
