<launch>
    <arg name="rc_prefix" default="$(optenv RC110_PREFIX grc_)"/>
    <arg name="id" default=""/>
    <arg name="rc" default="$(arg rc_prefix)$(arg id)"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>

    <env name="RC110_GAZEBO_NS" value="$(env ROS_NAMESPACE)"/>
    <env name="RC110_NAME" value="$(arg rc)"/>
    <env name="ROS_NAMESPACE" value="/$(arg rc)"/>

    <!-- ROS_NAMESPACE can be applied only before calling roslaunch, so we need roslaunch in roslaunch. -->
    <node pkg="rc110" type="launch" name="launch_$(arg rc)" output="screen"
            args="$(dirname)/model_impl.launch rc:=$(arg rc) x:=$(arg x) y:=$(arg y)"/>
</launch>
