<launch>
    <arg name="joy_type" default=""/>
    <arg name="use_gui" default="true"/>
    <arg name="root" default="$(find-pkg-share rc110_gazebo)"/>
    <arg name="world" default="$(find-pkg-share rc110_gazebo)/worlds/zmp.world"/>
    <arg name="n" default="1"/>

    <include file="$(var root)/launch/world.launch"/>

    <include file="$(var root)/launch/model.launch">
        <arg name="id" value="1"/>
    </include>
</launch>