<launch>
    <arg name="joy_type" default=""/>
    <arg name="use_gui" default="true"/>
    <arg name="root" default="$(find-pkg-share rc110_gazebo)"/>
    <arg name="world" default="worlds/zmp.world"/>

    <set_env name="GAZEBO_RESOURCE_PATH" value="$(var root)"/>
    <set_env name="GAZEBO_MODEL_PATH" value="$(var root)/models"/>
    <set_env name="GAZEBO_MODEL_DATABASE_URI" value=" "/>  <!-- See: https://github.com/osrf/gazebo/issues/2934 -->

    <!-- gazebo world -->
    <include file="$(find-pkg-share gazebo_ros)/launch/gazebo.launch.py">
        <arg name="world_name" value="$(var world)" />
        <arg name="gui" value="$(var use_gui)" />
        <arg name="verbose" value="true" />
    </include>

    <!-- common joystick for all models -->
    <include file="$(find-pkg-share rc110_teleop)/launch/teleop.launch">
        <arg name="joy_type" value="$(var joy_type)"/>
    </include>
</launch>