[Desktop Entry]
Name=RoboCar 1/10
Version=1.0
Type=Application
Exec=bash -c "source /opt/ros/@ROS_DISTRO@/rc_setup.bash on_robot; roslaunch --wait rc110_rviz rviz.launch"
Icon=rc110_ros.png
Categories=Development
