<?xml version="1.0"?>
<launch>
    <arg name="joy_config_dir" default="$(find rc110_launch)/config"/>
    <arg name="joy_type" default="ps5"/>

    <!-- launch simulation core nodes -->
    <node pkg="rc110_simulation" type="rc110_simulation_interface" name="simulation_interface" />
    <include file="$(find rc110_launch)/launch/teleop.launch">
        <arg name="config_dir" value="$(arg joy_config_dir)"/>
        <arg name="type" value="$(arg joy_type)"/>
    </include>
    <node pkg="topic_tools" type="mux" name="mux_drive" args="drive drive_manual drive_ad mux:=mux_drive"/>

    <!-- launch gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find rc110_simulation)/worlds/zmp.world" />
    </include>

    <!-- instantiate robot model in the world -->
    <node name="robot_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find rc110_simulation)/models/model.sdf -sdf -model rc110_robot
            -x 0.0 -y 0.0 -z 0.0
            -R 0.0 -P 0.0 -Y 0.0" />

    <!-- TODO: these are temporary and should be run separately -->
    <include file="$(find rc110_slam_he)/launch/main.launch"/>
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find rc110_slam_he)/rviz/rc110_slam_he.rviz"/>
</launch>
