<launch>
    <arg name="map_name" default="map" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(env HOME)/.ros/$(arg map_name).yaml" />

    <include file="$(find rc110_laserscans_to_pointcloud)/launch/main.launch" />
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="lidar_cloud"/>
    </node>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find rc110_navigation)/config/amcl.yaml" subst_value="true" />
    </node>

    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <rosparam file="$(find rc110_navigation)/config/move_base.yaml" command="load" />
        <rosparam file="$(find rc110_navigation)/config/local_costmap.yaml" command="load" />
        <rosparam file="$(find rc110_navigation)/config/global_costmap.yaml" command="load" />
        <rosparam file="$(find rc110_navigation)/config/planners.yaml" command="load" />
    </node>

    <node pkg="rc110_twist_to_ackermann" type="rc110_twist_to_ackermann" name="twist_to_ackermann" />
</launch>
