<launch>
    <arg name="loop" default="true"/>

    <node pkg="map_server" type="map_server" name="map_server" args="$(env HOME)/.ros/$(env RC110_MAP_NAME).yaml" />

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="points2"/>
        <param name="min_height" value="-0.08"/>
        <param name="max_height" value="0.07"/>
    </node>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find rc110_navigation)/config/amcl.yaml" subst_value="true"/>
        <param name="initial_pose_x" type="double" command="printf %g `rosparam get amcl/initial_pose_x` 2>/dev/null"/>
        <param name="initial_pose_y" type="double" command="printf %g `rosparam get amcl/initial_pose_y` 2>/dev/null"/>
        <param name="initial_pose_a" type="double" command="printf %g `rosparam get amcl/initial_pose_a` 2>/dev/null"/>
        <param name="initial_cov_xx" type="double" command="printf %g `rosparam get amcl/initial_cov_xx` 2>/dev/null"/>
        <param name="initial_cov_yy" type="double" command="printf %g `rosparam get amcl/initial_cov_yy` 2>/dev/null"/>
        <param name="initial_cov_aa" type="double" command="printf %g `rosparam get amcl/initial_cov_aa` 2>/dev/null"/>

        <!-- printf is needed, because rosparam can fail, return .nan, etc... -->
    </node>

    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <rosparam file="$(find rc110_navigation)/config/move_base.yaml" subst_value="true"/>
        <rosparam file="$(find rc110_navigation)/config/local_costmap.yaml" subst_value="true"/>
        <rosparam file="$(find rc110_navigation)/config/global_costmap.yaml" subst_value="true"/>
        <rosparam file="$(find rc110_navigation)/config/planners.yaml" subst_value="true"/>
    </node>

    <node pkg="rc110_twist_to_ackermann" type="rc110_twist_to_ackermann" name="twist_to_ackermann" />

    <node name="goal_queue" pkg="goal_queue" type="goal_queue">
        <remap from="~reset" to="clicked_point"/>
        <param name="loop" value="$(arg loop)"/>
    </node>
</launch>
