<launch>
    <arg name="r" default="vga"/>  <!-- vga, hd, sxga, fhd, qhd -->
    <arg name="device" default="/dev/video0"/>
    <arg name="width" default="$(eval 2560 if r == 'qhd' else 1920 if r == 'fhd' else 1280 if r == 'sxga' else 1280 if r == 'hd' else 640)"/>
    <arg name="height" default="$(eval 1440 if r == 'qhd' else 1080 if r == 'fhd' else 960 if r == 'sxga' else 720 if r == 'hd' else 480)"/>
    <arg name="fps" default="$(eval 32 if r == 'qhd' else 30)"/>

    <node pkg="rc110_video_server" type="rc110_video_server" name="video_server" respawn="true" output="screen">
        <rosparam file="$(find rc110_video_server)/config/video_server.yaml" subst_value="true"/>
    </node>
</launch>
