<launch>
    <arg name="config_dir"/>
    <arg name="urdf_file" default="$(find rc110_launch)/urdf/robot.xml"/>

    <param name="robot_description" textfile="$(arg urdf_file)"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <include file="$(find rc110_launch)/launch/nodes/sensors.launch"/>

    <include file="$(find rc110_launch)/launch/nodes/joy_teleop.launch">
        <arg name="config_dir" value="$(arg config_dir)"/>
    </include>

    <node pkg="rc110_drive_control" type="rc110_drive_control" name="drive_control" respawn="true">
        <rosparam file="$(arg config_dir)/drive_control.yaml" subst_value="true"/>
    </node>

    <node pkg="rc110_behavior" type="rc110_behavior" name="behavior" respawn="true">
        <rosparam file="$(arg config_dir)/behavior.yaml" subst_value="true"/>
        <remap from="scan" to="/front_lidar/scan"/>
    </node>

    <!-- Switching between joystick and AD.
      By default drive_manual topic is mapped to drive.
      To switch run: rosservice call mux_drive/select drive_ad
      Or use joystick or rviz.
    -->
    <node pkg="topic_tools" type="mux" name="mux_drive" args="drive drive_manual drive_ad mux:=mux_drive"/>
</launch>
