<launch>
    <node pkg="cv_camera" type="cv_camera_node" name="front_camera">
        <param name="frame_id" value="front_camera"/>
        <param name="device_path" value="/dev/video_front"/>
        <param name="rate" value="30.0"/>
        <param name="image_width" value="1920"/>
        <param name="image_height" value="1080"/>
        <param name="camera_info_url" value="$(env HOME)/.config/rc110/calibration/front_camera.yaml"></param>
    </node>

    <node pkg="cv_camera" type="cv_camera_node" name="rear_camera">
        <param name="frame_id" value="rear_camera"/>
        <param name="device_path" value="/dev/video_rear"/>
        <param name="rate" value="30.0"/>
        <param name="image_width" value="1920"/>
        <param name="image_height" value="1080"/>
        <param name="camera_info_url" value="$(env HOME)/.config/rc110/calibration/rear_camera.yaml"></param>
    </node>

    <node pkg="hokuyo_node" type="hokuyo_node" name="front_lidar">
        <param name="port" value="/dev/hokuyo_front"/>
        <param name="frame_id" value="front_lidar"/>
        <param name="min_ang" value="-2.08"/>
        <param name="max_ang" value="2.08"/>
        <remap from="scan" to="~scan"/>
    </node>

    <node pkg="hokuyo_node" type="hokuyo_node" name="rear_lidar">
        <param name="port" value="/dev/hokuyo_rear"/>
        <param name="frame_id" value="rear_lidar"/>
        <remap from="scan" to="~scan"/>
        <param name="min_ang" value="-2.08"/>
        <param name="max_ang" value="2.08"/>
    </node>

    <node pkg="imu_complementary_filter" type="complementary_filter_node" name="complementary_filter_node" output="screen">
      <param name="do_bias_estimation" value="true"/>
      <param name="do_adaptive_gain" value="true"/>
      <param name="use_mag" value="false"/>
      <param name="gain_acc" value="0.01"/>
      <param name="gain_mag" value="0.01"/>
    </node>
</launch>
