<launch>
    <node pkg="cartographer_ros" type="cartographer_node" name="cartographer"
          args="
                -configuration_directory $(find rc110_slam_cg)/config
                -configuration_basename main.lua
                "
            output="screen">

        <remap from="imu" to="imu/data"/>
        <remap from="odom" to="odometry"/>
    </node>
</launch>
